<!DOCTYPE html>
<html>
  <head>
    <title>RacoonTunes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <script>
      window.logo = '<%= image_url('newlogo.PNG') %>'
      window.homeMainPic = '<%= image_url('concert.jpg') %>'
      window.homeIphonePic = '<%= image_url('iphonePic.PNG') %>'
      window.homeSecondPic = '<%= image_url('homepagePic3.PNG')%>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
